* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: rgba(0,0,0,0.87);
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.topbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
    padding: 30px 87px;
   
}

.topbar nav a {
    text-decoration: none;
    color: #9f9f9f;
    padding: 0 53px 0 53px;
    font-weight: 500;
}

.topbar nav a:hover, .topbar nav a.active {
    color: #000;
}

.topbar .social {
    justify-content: space-around;
}

.social a {
    padding: 0 10px 0 10px;
    opacity: .5;
}

.social a:hover {
    opacity: 1;
}

.banniere {
    height: 427px;
    background: no-repeat center center / cover url("img/header.jpg");
}

.main {
    display: flex;
}

.article {
    background: #FFFFFF;
    width: calc(100% - 375px);
    box-shadow: 0 4px 30px rgba(0,0,0, 0.5);
    z-index: 2;
}

.sidebar {
    background: #FBFBFB;
    width: 375px;
    padding: 40px;
    z-index: 1;
}

.sidebar-title {
    font-size: 30px;
    color: black;
    margin: 15px 0;
}

.sidebar-title:first-child {
    margin-top: 0;
}

.sidebar a {
    color: #9F9F9F;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 6px 0;
}

.sidebar hr {
    border: none;
    height: 1px;
    background: #c4c4c4;
    margin: 50px 0;
}



.linkedin {
    height: 20px;
    width: 20px;
}

