* {
    box-sizing: border-box;
}

body, html {
    font-size: 16px;
    color: rgba(0,0,0,0.87);
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    font-weight: 500;
    font-family: 'Andada Pro', serif;
}

.topbar {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
    padding: 30px 87px;
   
}

.topbar nav a {
    text-decoration: none;
    color: #9f9f9f;
    padding: 0 53px 0 53px;
    font-weight: 500;
    transition: color .3s;
}

.topbar nav a:hover, .topbar nav a.active {
    color: #000;
}

.topbar .social {
    justify-content: space-around;
}

.social a {
    padding: 0 10px 0 10px;
    opacity: .5;
    transition: opacity .3s;
}

.social a:hover {
    opacity: 1;
}

.banniere {
    height: 427px;
    background: no-repeat center center / cover url("img/header.jpg");
}

.main {
    display: flex;
}

.article {
    background: #FFFFFF;
    width: calc(100% - 375px);
    box-shadow: 0 4px 30px rgba(0,0,0, 0.5);
    z-index: 2;
}

.sidebar {
    width: 375px;
    padding: 40px;
    z-index: 1;
    background: #FBFBFB;
    font-family: 'Andada Pro', serif;
}

.sidebar-title {
    font-size: 30px;
    color: black;
    margin: 15px 0;
}

.sidebar-title:first-child {
    margin-top: 0;
}

.sidebar a {
    color: #9F9F9F;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 6px 0;
}

.sidebar hr {
    border: none;
    height: 1px;
    background: #c4c4c4;
    margin: 50px 0;
}

.publications {
    overflow: hidden;
    margin: 50px auto;
    min-height: 203px;
    max-width: 940px;
    font-family: 'Andada Pro', serif;
}

.article-img {
    float: left;
    height: 203px;
    width: 343px;
    margin-right: 25px;
    transition: transform .3s;
}

.article-img:hover {
    transform: scale(1.1) rotate(25deg);
}

.article-img img {
    width: 100%;
    height: auto;
}

.publication-date {
    font-weight: 300px;
    color: rgba(0,0,0, 0.6);
    margin-bottom: 5px;
}

.publications a {
    color: inherit;
    text-decoration: none;
}

.publications a:hover {
    text-decoration: underline;
}

.publication-title {
    font-size: 2.25rem;
    line-height: 1.1;
    font-family: 'Andada Pro', serif;
    margin: 0 0 15px 0;
}

.linkedin {
    height: 20px;
    width: 20px;
}

@media only screen and (max-width: 1100px) and (min-width: 750px) {
    .main {
        display: block;
    }
    .article {
        width: 100%;
    }
    .sidebar {
        width: 100%;
    }
}

@media only screen and (max-width: 750px){
    .main {
        display: inline-block;
    }
    .article {
        width: 100%;
    }
    .article-img {
        width: 100%;
        float:none;
    }
    .publications {
        color:#000;
        width: 100%;
    }
    .sidebar {
        width: 100%;
    }
}

@media screen and (max-width: 860px) {
    .topbar{
        display: block;
        position: absolute;
    }
    .topbar nav, .social {
        text-align: center;
    }
    .topbar nav {
        margin-bottom: 15px;
    }
    .topbar nav a {
        display: inline-block;
        white-space: nowrap;
    }
}
